@use "../base" as *;
@use "../layout" as *;
@use "../abstract" as *;
@use "../vendor" as *;

.familyActivities{
    &__wrapper{
        @include flex(center, center);
        flex-direction: column;
    }
    &__entry{
        @include flex(space-around, center);
        flex-direction: column;
        gap: 2rem;
        flex-wrap: wrap;
        @include mediaQuery(60rem){
            flex-direction: row;
            height: clamp(25rem, 100vh, 50rem);
            gap: 5rem;
            flex-wrap: nowrap;
        }
        &_img{
            height: clamp(5rem, 65vw, 55rem);
            width: clamp(10rem, 65vw, 55rem);
            aspect-ratio: 1/1;
            border-radius: 1.1rem;
            overflow: hidden;
            background-color: $clr-dark;
            img{ @include imgCover(100%, 100%); }
            @include mediaQuery(60rem){
                height: clamp(10rem, 65vw, 37rem);
                min-width: 37rem;
                // width: clamp(10rem, 65vw, 37rem);
            }
        }
        &_details{
            @include flex(space-around, flex-start);
            height: 105%;
            flex-direction: column;
            h4{
                font-size: clamp(3rem, 6vw, 4.8rem);
                font-family: $font-speedee-bold;
                padding-bottom: 0.5rem;
            }
            p{ text-align: justify; }
            @include mediaQuery(60rem){
                width: 100%;
            }
        }
        &-button{
            background-color: $clr-primary;
            font-family: $font-speedee-bold;
            font-size: clamp(2rem, 2.5rem, 2.8rem);
            border-radius: 1.1rem;
            overflow: hidden;
            padding: 0.25rem 0;
            width: 100%;
            text-align: center;
            transition: 0.5s ease;
            &:hover{
                background: darken($clr-primary, 25);
            }
            @include mediaQuery(60rem){
                padding: 0.25rem 8.5rem;
                width: auto;
            }
        }
    }
}