@use "../abstract" as *;
@use "../base" as *;
@use "../component" as *;
@use "../layout" as *;
// @use "../vendor" as *;

.banner{
    // background-image: url("../../images/1_banner/hero-image-2.png"), url("../../images/1_banner/wood.jpg");
    // background-size: contain, cover;
    // background-position: bottom center, center;
    // background-repeat: no-repeat, repeat;
    // height: 80vh;
    background-image: url("../../images/1_banner/wood.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    img.bannerRamen{
        @include imgCover(150%, 100%);
    }
    &__wrapper{
        p{
            font-weight: 400;
            font-size: clamp(1.4rem, 2vw, 2rem);
        }

    }
}

.orderIns{
    background-image: url("../../images/2_how to order/texture_pattern_2X.jpg");
    background-repeat: repeat;
    &__wrapper{

    }
    &__instruction{
        @include mediaQueryMxW{
            flex-direction: column;
        }
        &__step{
            img{ @include imgCover_contain(12.1rem, 100%); }
            h4{
                font-family: $ft-walter;
                font-size: clamp(2rem, 6vw, 2.25rem);
            }
        }
        i.arrow{
            font-size: 3rem;
            @include mediaQueryMxW{
                -moz-transform: rotate(90deg) rotateX(0) rotateY(0);
                -ms-transform: rotate(90deg) rotateX(0) rotateY(0);
                -o-transform: rotate(90deg) rotateX(0) rotateY(0);
                transform: rotate(90deg) rotateX(0) rotateY(0);
            }
        }
    }
}

.arrow{
    
    &:hover{
        -moz-transform: rotate(90deg) rotateX(0) rotateY(0);
        -ms-transform: rotate(90deg) rotateX(0) rotateY(0);
        -o-transform: rotate(90deg) rotateX(0) rotateY(0);
        transform: rotate(90deg) rotateX(0) rotateY(0);
    }
}

.hours{
    background-image: url("../../images/4_above footer/texture_pattern_2X.jpg");
    background-repeat: repeat;
    &__header{
        h3{ font-weight: 900;}
        p{ font-weight: bold; }
    }
    &__images{ 
        img{ width: 33.33%; }
    }
}
