@use "../base" as *;
// @use "../layout" as *;
@use "../abstract" as *;
// @use "../vendor" as *;

.video{
    @include flex(center, center);
    flex-direction: column;
    margin: 0 auto;
    &__title h2{
        font-size: 3rem;
        font-family: $font-speedee-bold;
    }
    &__wrapper{
        width: 100%;
        max-height: 530px;
        @include flex(center, center);
        iframe{
            // width: 128rem;
            // height: 72rem;
            height: 56.25%;
            max-width: 940px;
            max-height: 530px;
            aspect-ratio: 16/9;
        }
    }
}

.locations{
    @include grid(1);
    h2,p{ text-wrap: wrap; }
    h2{
        font-family: $font-speedee-bold;
        // max-width: clamp(65rem, 18vw, 70rem);
        text-align: center;
        font-size: 2.6rem;
        margin-bottom: 2rem;
    }
    p{
        font-size: 1.3rem;
        @include mediaQuery($bp-md){ padding: 0rem;}
    }
    &__wrapper{
        padding: 0 1rem;
        .locations__region{
            p{
                font-family: $font-speedee-bold;
                text-decoration: underline;
                font-size: 1.8rem;
            }
            ul{
                li:first-child{ font-family: $font-speedee-bold; }
                li{ 
                    font-size: 1.8rem;
                    i{
                        font-size: 1.2rem;
                    }
                }
            }
        }
        @include mediaQuery($bp-md){ padding: 0rem;}
    }
}