@use "../base" as *;
@use "../layout" as *;
@use "../abstract" as *;
@use "../vendor" as *;

.video{
    @include flex(center, center);
    flex-direction: column;
    margin: 0 auto;
    &__title h2{
        font-size: 3rem;
        font-family: $font-speedee-bold;
    }
    &__wrapper{
        width: 100%;
        max-height: 530px;
        @include flex(center, center);
        iframe{
            // width: 128rem;
            // height: 72rem;
            height: 56.25%;
            max-width: 940px;
            max-height: 530px;
            aspect-ratio: 16/9;
        }
    }
}