
div.box{
    width: 120px;
    height: 120px;
    background: coral;
    animation-name: fadeIn;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    margin-left: 200px;
}
@keyframes fadeIn{
    0%{
        opacity: 1;
        margin-left: 30px;
        margin-top: 600px;
    }
    25%{
        transform: rotate(360deg) scale(1.5);
        background: BLUE;
        margin-top: 10px;
    }
    50%{
        transform: scale(2.0);
        background: green;
        margin-left: 800px;
    }
    75%{
        transform: rotate(320deg);
        border-radius: 50%;
        overflow: hidden;
        background: violet;
        margin-top: 500px;
        margin-left: 300px;
    }
    100%{
        transform: rotate(-145deg) scale(1.0);
        opacity: 1;
        margin-left: 30px;
        margin-top: 600px;
        background: yellow;
    }
    // 0%{
    //     opacity: 0;
    //     margin-left: 0;
    // }
    // 100%{
    //     opacity: 1;
    //     margin-left: 200px;
    // }
}