@use "../abstract/" as *;

.footer{
    background-color: $clr-primary;
    padding: 5rem 0;
    // &__wrapper{
    //     display: flex;
    //     flex-direction: column;
    // }
    &__actions{
        margin-bottom: 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        ul{
            li{
                font-size: 1.2rem;
            }
            li img{
                width: 80%;
                margin-bottom: 0.5rem;
            }
        }
        justify-self: center;
    }
    @media (min-width: $bp-lg) {
        &__actions{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
    @media (min-width: $bp-m) {
        &__actions{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    &__connect{
        ul{
            display: flex;
            gap: 3rem;
            i{
                font-size: 2.5rem;
                color: $clr-accent;
            }
        }
    }
    @media (min-width: $bp-m) {
        &__wrapper{
            display: flex;
            justify-content: space-between;
        }
    }
    
}