@use "../abstract" as *;

.header{
    &__wrapper{
        img{
            // @include imgCover(10rem, 10rem);
            @include imgCover(100%, 100%);
            @include mediaQueryMxW{ @include imgCover(6rem, 6rem); }
        }
        #toggleMenu{
            display: none; font-size: 3rem;
            @include mediaQueryMxW{ display: block; }
        }
        ul{
            transition: 0.35s ease-in-out;
            @include mediaQueryMxW{
                visibility: hidden; opacity: 0;            
                position: fixed;
                background-color: $clr-dark;
                top: 28rem;  left: 0;
                height: 100%;  width: 100%;
                z-index: 9999;
                flex-direction: column;
                &.open{ visibility: visible; opacity: 1; top:8rem; }
            }
            li{
                a{
                    font-size: clamp(1.5rem, 4vw, 1.9rem);
                    @include mediaQueryMxW{ font-size: clamp(1.75rem, 8vw, 2.75rem); padding: 1rem;}
                    &:hover{ color: $clr-accent; border-bottom: clamp(5px, 5vw, 10px) solid $clr-accent; transition: 0.15s ease; }
                    &.active{ border-bottom: clamp(5px, 5vw, 10px) solid $clr-accent; }
                }
            }
        }
    }
}