@use "../abstract/" as *;
@use "../base" as *;

.header{
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 0;  //added to match height of original header
        .toggle_button{
            span{
                display: block;
                background-color: $clr-accent;
                content: " ";
                width: 3rem;
                height: 0.4rem;
                margin-bottom: 0.5rem;
                transition: 0.5s ease;
            }
        }
        .toggle_button.hidden span{
            opacity: 0;
        }
        .toggle_button.cross{
            span:nth-child(1){
                transform: translate(5px, 10px) rotate(45deg);
            }
            span:nth-child(2){
                opacity: 0;
            }
            span:nth-child(3){
                transform: translate(5px, -10px) rotate(-45deg);
            }
        }
    }
    .dropdown.show{
        opacity: 1;
        visibility: visible;
        transition-delay: 0.25s;
    }
    .dropdown{
        position: fixed;
        background-color: rgba($clr-neutral, 0.9);
        z-index: 9999;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        width: 100%;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        // 
        opacity: 0;
        visibility: hidden;
        transition: 0.25s ease-in-out;

        button{
            background-color: transparent;
            border: none;
            font-size: 3rem;
            color: $clr-primary;
            // padding: 1rem;
            display: flex;
            justify-content: end;
            width: 100%;
            padding-right: 2.25rem;
            padding-top: 1.9rem;
        }
        .nav{
            font-family: $font-speedee-regular;
            li a{
                color: $clr-accent;
            }
            .nav__menu{
                margin-left: 5rem;
                li{
                    font-size: 2rem;
                    font-weight: bold;
                    font-family: $font-speedee-bold;
                    margin-bottom: 0.6rem;
                    .nav__submenu{
                        margin-left: 3rem;
                        li a{
                            font-size: 1.8rem;
                            font-weight: 400;

                            font-family: $font-speedee-regular;
                        }
                    }
                }
            }
            // 
            a.active{
                color: $clr-dark;
            }
        }
        &__footer{
            margin-top: 4rem;
            img{
                margin: 0 auto 2rem;
            }
            text-align: center;
            li a{
                font-size: 1.2rem
            }
        }
    }
}