@use "../abstract" as *;

.header{
    &__wrapper{
        img{
            @include imgCover(10rem, 10rem);
            @include mediaQueryMxW{ @include imgCover(6rem, 6rem); }
        }
        #toggleMenu{ display: none; font-size: 3rem; }
        ul>li>a:hover{ color: $clr-red; }
        .active{ color: $clr-primary;}
        @include mediaQueryMxW{
            #toggleMenu{ display: block; order: 2; }
            ul{
                visibility: hidden; opacity: 0;            
                position: fixed;
                background-color: $clr-primary;
                top: 10.5rem;  left: 0;
                height: 100%;  width: 100%;
                z-index: 9999;
                flex-direction: column;
                a{
                    font-size: clamp(2rem, 6vw, 3.5rem);
                    &.active{ color: $clr-dark; }
                }
            }
            ul.open{ visibility: visible; opacity: 1; }
        }
    }
}