@use "../abstract" as *;

.block-header{
    h2{
        font-size: clamp(3rem, 6vw, 8rem);
        position: relative;
        z-index: 1;
        &::before{
            content:attr(data-text);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.04;
            font-size: clamp(4rem, 10vw, 16rem);
            color: $clr-white;
            z-index: -1;
        }
    }
}