@use "../abstract" as *;
@use "../base" as *;

.btn{
    display: block;
    padding: 1rem;
    // border-radius: 5rem;
    font-family: $ft-montserrat;
    @include flex(center, center);
    line-height: 1;
    // transition: 0.5s ease;
    color: $clr-white;
    background-color: $clr-primary;
    &:hover{
        background-color: $clr-red;
    }
    flex-grow: 0;
    text-align: center;

    // $colors: (
    //     "light" : $clr-light,
    //     "dark" : $clr-dark,
    //     "accent" : $clr-accent,
    //     "gray" : $clr-gray,
    // );

    // @each $key, $val in $colors{
    //     &-#{$key}{
    //         background: #{$val};
    //     }
    // }
}