@use "../abstract" as *;
@use "../base" as *;

.btn{
    display: block;
    padding: 1.6rem 3.2rem;
    border-radius: 0.25rem;
    @include flex(center, center);
    color: $clr-white;
    background-color: $clr-accent;
    &:hover{ background-color: $clr-white; color: $clr-dark; }
    font-family: $ft-ubuntu-condensed;
    font-size: clamp(1.25rem, 4vw, 2rem);
    line-height: 1;

    // $colors: (
    //     "light" : $clr-light,
    //     "dark" : $clr-dark,
    //     "accent" : $clr-accent,
    //     "gray" : $clr-gray,
    // );

    // @each $key, $val in $colors{
    //     &-#{$key}{
    //         background: #{$val};
    //     }
    // }
}