@use "../abstract/" as *;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: "Sprat Condensed";
    src: url('../../fonts/Sprat-CondesedRegular.otf');
}
@font-face {
    font-family: "Sprat Condensed Bold";
    src: url('../../fonts/Sprat-CondensedBold.otf');
}

$ft-roboto-regular: "Roboto", "Arial", sans-serif;
$ft-sprat: "Sprat Condensed", "Times New Roman", serif;
$ft-sprat-bold: "Sprat Condensed Bold", "Times New Roman Bold", serif;

html {
    font-size: 10px;
}

body {
    font-family: $ft-roboto-regular;
    color: $clr-dark;
    background-color: $clr-light;
    line-height: 1.6;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: $clr-dark;
}

.container {
    max-width: 98rem;
    padding: 0 1.6rem;
    margin: 0 auto;
}

ul{
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    font-family: $ft-sprat;
    text-wrap: balance;
}

h1{ font-size:clamp(2.5rem, 6vw, 4rem); margin-bottom: 2rem; }
h2{ font-size:clamp(2.2rem, 6vw, 3rem); margin-bottom: 2rem; }
h3{ font-size:clamp(2rem, 6vw, 2.5rem); margin-bottom: 1.6rem; }
h4{ font-size:clamp(1.4rem, 6vw, 1.6rem); margin-bottom: 1.6rem; }
p{ font-size:clamp(1.4rem, 6vw, 1.6rem); margin-bottom: 1.3rem; }

button{
    border: none;
}
