@use "../abstract" as *;
@use "base" as *;

$colors: (
    "dark": $clr-dark,    
    "white": $clr-white,
    "gray": $clr-gray,
    "gray2": $clr-gray2,
    "accent" : $clr-accent,
);

@each $key, $val in $colors{
    .bg-#{$key}{
        background-color: #{$val};
    }
    .text-#{$key}{
        color: #{$val};
    }
    // .border-#{$key}{
    //     border: 1px solid #{$val};
    // }
}
$displays: (flex, grid, block, inline);

@each $display in $displays{
    .#{$display}{
        display: #{$display};
    }
}

@for $i from 1 through 10{
    .m-#{$i}{
        margin: #{$i}rem;
    }
    .mt-#{$i}{
        margin-top: #{$i}rem;
    }
    .mb-#{$i}{
        margin-bottom: #{$i}rem;
    }
    .mx-#{$i}{
        margin-left: #{$i}rem;
        margin-right: #{$i}rem;
    }
    .my-#{$i}{
        margin-top: #{$i}rem;
        margin-bottom: #{$i}rem;
    }
    .p-#{$i}{
        padding: #{$i}rem;
    }
    .px-#{$i}{
        padding-left: #{$i}rem;
        padding-right: #{$i}rem;
    }
    .py-#{$i}{
        padding-top: #{$i}rem;
        padding-bottom: #{$i}rem;
    }
    .pt-#{$i}{
        padding-top: #{$i}rem;
    }
    .pb-#{$i}{
        padding-bottom: #{$i}rem;
    }
    .gap-#{$i}{
        gap: #{$i}rem;
    }
}

$width: (
    "full" : 100%,
    "1-2" : 50%,
    "1-4" : 25%,
    "1-3" : 33.33%,
);

@each $key, $val in $width{
    .w-#{$key}{
        width: #{$val};
    }
}

$alignments: (left, right, center, justify);
@each $alignment in $alignments{
    .text-#{$alignment}{
        text-align: #{$alignment};
    }
}

$justify: (
    "center": center,
    "between": space-between,
    "around": space-around,
    "end": flex-end,
);
@each $key, $val in $justify{
    .justify-#{$key}{
        justify-content: #{$val};
    }
}

$align: (
    "center": center,
    "end": flex-end,
);
@each $key, $val in $align{
    .items-#{$key}{
        align-items: #{$val};
    }
}

.f-col{
    flex-direction: column;
}

.f-wrap{
    flex-wrap: wrap;
}

@for $i from 1 through 10{
    .fw-#{$i}00{
        font-weight: #{$i}00;
    }
}

.text-wrap{
    text-wrap: wrap;
}

.m-0{
    margin: 0;
}

$case: (
    "upper": uppercase,
    "lower": lowercase,
);
@each $key, $val in $case{
    .text-#{$key}{
        text-transform: #{$val};
    }
}

.m-0a{
    margin: 0 auto;
}

$fonts: (
    "ubuntu": $ft-ubuntu,
    "u-condensed": $ft-ubuntu-condensed,
);
@each $key, $val in $fonts{
    .ft-#{$key}{
        font-family: #{$val};
    }
}
.outline-2{
    outline: 2px solid $clr-white;
}
.b-rounded{
    border-radius: 50%;
}