@use "../abstract" as *;

$colors: (
    "primary" : $clr-primary,
    "accent" : $clr-accent,
    "neutral" : $clr-neutral,
    "dark" : $clr-dark,
);

@each $key, $val in $colors{
    .bg-#{$key}{
        background-color: #{$val};
    }
    .text-#{$key}{
        color: #{$val};
    }
}