:root{
    --dark: #26252a;
    --gray: #343438;
    --gray2: #89888c;
    --white: #fff;
    --accent: #f8565d;
    --accent-alt: #fca8ac;
}

$clr-dark: var(--dark);
$clr-gray: var(--gray);
$clr-gray2: var(--gray2);
$clr-white: var(--white);
$clr-accent: var(--accent);
$clr-accent-alt: var(--accent-alt);

// $bp-xs: 32rem;
// $bp-sm: 55rem;
// $bp-md: 80rem;
// $bp-lg: 144rem;
// $bp-xl: 180rem;

$sm: "42rem";
$md: "80rem";
$lg: "144rem";
$xl: "180rem";