:root{
    --white: #fff;
    --red: #e60033;
    --gray: #808080;
    --dark: #433d3c;
    --primary: #f6ad49 ;
}

$clr-white: var(--white);
$clr-red: var(--red);
$clr-gray: var(--gray);
$clr-dark: var(--dark);
$clr-primary: var(--primary);

// $bp-xs: 32rem;
// $bp-sm: 55rem;
// $bp-md: 80rem;
// $bp-lg: 144rem;
// $bp-xl: 180rem;

$sm: "42rem";
$md: "80rem";
$lg: "144rem";
$xl: "180rem";