:root{
    --light: #fff;
    --dark: #000;
}

$clr-light: var(--light);
$clr-dark: var(--dark);

// $bp-xs: 32rem;
// $bp-sm: 55rem;
// $bp-md: 80rem;
// $bp-lg: 144rem;
// $bp-xl: 180rem;

$sm: "42rem";
$md: "80rem";
$lg: "144rem";
$xl: "180rem";